/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2014, 1:05:33 AM
    Author     : Chris
*/

      .float-left {
          position:relative;
          float:left;
      }
      
      .drag {
          position: relative;
          
      }
      
      .outer {
          position:relative;
          float:left;
          width:600px;
          border: thin solid red;
      }

      .box-container-group {
          width: 100%;
          position: relative;    
      }

      .box-group {
        position: relative;    
        height: 300px;        
        width: 100%;
        text-align: center;
        border: solid black thin;
        margin: 0;
        padding: 0;
        background: #fdd;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
     }
     
    .box-container-course {
        width: 25%;
        position: relative;    
    }

    .box-course {
        position: relative;
        height: 60px;
        text-align: center;
        border: solid black thin;
        margin: 2px;
        background: #ddd;
        padding: 2px;
        border-radius: 20px;
    }
    
    .box-container-set { 
        width: 50%;  
        position: relative;    
    }
    
    .box-set {
        position: relative;    
        width: 100%;
        height: 290px;
        text-align: center;
        border: solid black thin;
        background-color: #dfd;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    #result {
        clear: left;
    }
